@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css);

html, body {
    font-family: fantasy;
}

nav {
    background: turquoise;
    color: #0FA0CE;
}
