<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Groceries!</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Add Item</button>
    </form>

    {% for item in items %}
    <div class="grocery-item">
    <strong>{{ item.name }}</strong>: {{ item.quantity }}
    </div>
    {% endfor %}
</body>
</html>