{% extends "template.html" %}

{% block content %}
<div id="images">
    <div id="gif">
        <img src="https://www.lua.org/images/luaa.gif" alt="A nossa mãe, Lua, orbitando ao redor da nossa mãe, Terra">
    </div>
    <div id="emblem">
        <img src="https://www.lua.org/images/puc.gif" alt="PUC Rio">
    </div>
</div>
<div class="text">
    <h1>Lua</h1>
    <h2>A Linguagem de Programação</h2>
    <h3>Lua é linguagem estabelecida e robusta</h3>
    <p>Lua é usada em muitas aplicações industriais (e.g., Adobe's Photoshop Lightroom), com ênfase em sistemas embutidos (e.g., o middleware Ginga para TV digital) e jogos (e.g., World of Warcraft e Angry Birds). Lua é atualmente a linguagem de script mais usada em jogos. Lua tem um sólido manual de referência e existem vários livros sobre a linguagem. Várias versões de Lua foram lançadas e usadas em aplicações reais desde a sua criação em 1993.</p>
    <h3>Lua é rápida</h3>
    <p>Lua tem uma merecida reputação de ótimo desempenho. Outras linguagens de script aspiram ser "tão rápidas quanto Lua". Vários benchmarks mostram Lua como a linguagem mais rápida dentre as linguagens de script interpretadas. Lua é rápida não só em programas específicos para benchmarks, mas no dia-a-dia também. Porções substanciais de aplicações grandes são escritas em Lua.</p>
    <h3>Lua é portátil</h3>
    <p>Lua é distribuída via um pequeno pacote e compila sem modificações em todas as plataformas que têm um compilador C padrão. Lua roda em todos os tipos de Unix e Windows, e também em dispositivos móveis (usando Android, iOS, BREW, Symbian, Windows Phone), em microprocessadores embutidos (como ARM e Rabbit, para aplicações como Lego MindStorms), e até mainframes IBM.</p>
</div>
{% endblock content %}